{{#partial "content"}}
    <h1>AVAILABLE DEPARTMENTS</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Employees</th>
        </tr>
        </thead>
        <tbody>
        {{#each department}}
            <tr class="table-dark">
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{nbrEmployees}}</td>


                <td><a href="/users/new"><button type="submit" class="btn btn-info">add users</button></a></td>
                <td><a href="news/delete"><button type="submit" class="btn btn-info">delete</button></a></td>
                <td><a href="/generalnews"><button type="submit" class="btn btn-info">Add news</button></a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/partial}}
{{> layout.hbs}}

<style>
h2{
color:white;
}
th{
<!--color:white;-->
font-size:20px;
font-family: 'Playfair Display', serif;
}
td{
<!--color:white;-->
font-size:20px;
font-family: 'Playfair Display', serif;
}
</style>