{{#partial "content"}}
    <br><br><br><br>
    <h1>AVAILABLE DEPARTMENTS</h1><br><br><br><br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Employees</th>
        </tr>
        </thead>
        <tbody>
        {{#each department}}
            <tr class="table-light">
                <td>{{departmentName}}</td>
                <td>{{description}}</td>
                <td>{{nbrEmployees}}</td>


                <td><a href="/user/new"><button type="submit" class="btn btn-warning">add users</button></a></td>
                <td><a href="depart/new"><button type="submit" class="btn btn-success">Add department</button></a></td>
                <td><a href="/generalnews"><button type="submit" class="btn btn-danger">Add news</button></a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/partial}}
{{> layout.hbs}}

<style>
h1{
   text-align: center;
}
th{
<!--color:white;-->
font-size:30px;
font-family: 'Playfair Display', serif;
}
td{
<!--color:white;-->
font-size: 40px;
font-family: 'Playfair Display', serif;
}
</style>